
@{
    ViewBag.Title = "Successfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:70vh;" >
    <div style="margin-top:30px;" class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                Đơn hàng của bạn đã được thanh toán. Vui lòng kiểm tra email để xác nhận thông tin vé. Trân trọng cảm ơn!
                <a href="/">Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>

